.step-block {
    &__container {
        &--two {
            margin-top: 75px;
            margin-left: 60px;
        }
    }
    &__item {
    }
    &__title {
        margin-bottom: 10px;
    }
    &__info {
        
    }
    &__img {
        margin-bottom: 40px;
    }
}