.wrapper
    .container.section-container.section-container__custom
        section.section-top.section-top__container
            .section-top__left
                .section-top__logo
                    +image('section-top/wisewater-logo.png','section-top__img--logo')
                h1.section-top__title Инструкция для пользователей

            .section-top__right
                .section-top__devices
                    +image('section-top/devices.png','section-top__img--devices')

        include ../section-top/section-content.pug
