section.section-content
    h1.section-content__title.title.delimiter Содержание
    h2.section-content__subtitle.delimiter Преимущества систем с Wi-Fi
    h2.section-content__subtitle.delimiter Что нужно для управления клапана через Wi-Fi

    h2.section-content__subtitle Подключение к беспроводной сети:
    ul.section-content__list.dots-list.delimiter
        each val, index in ['Шаг 1 Включение', 'Шаг 2 Подключение', 'Шаг 3 Соединение', 'Шаг 4 Экран дисплея клапана Clack EW']
            li= val
    
    h2.section-content__subtitle.delimiter Ваши возможности в clackonline.ru
    h2.section-content__subtitle Работа в clackonline.ru:
    ul.section-content__list.dots-list.delimiter
        each val, index in ['Шаг 1 Авторизация', 'Шаг 2 Личный кабинет', 'Шаг 3 Информация', 'Шаг 4 Статистика', 'Шаг 5 Промывка', 'Шаг 6 Настройка']
            li= val
