.section-capabilities {
    &__subtitle {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
        padding-bottom: 1.25rem;
    }
    &__list {
        margin-bottom: 20px;
    }
    &__name {
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__info {
        font-weight: 600;
    }
}