.section-connect {
    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
        @include tablets() {
            flex-direction: column;
        }
        &--center {
            align-items: center;
        }
    }
}