section.section-need
    .section-need__container
        h2.section-need__title.title Что нужно для управления клапана через Wi-Fi?
        .section-need__img
            +image('section-need/devices.png','section-need__img--devices')
