section.section-connect
    h2.section-connect__title.title Подключение к беспроводной сети
    .section-connect__container
        .step
            .step__container
                .step__number
                    span Шаг 1
                .step__info
                    p Включение
            .step-block
                .step-block__container
                    .step-block__item
                        +image('section-connection/step-1/klapan.png','step-block__img')
                        h3.step-block__title Клапан WW EW
                        .step-block__info 1.1 Зажмите кнопки “ВРЕМЯ”+”ВНИЗ”<br> на 15 секунд
        .step
            .step-block
                .step-block__container.step-block__container--two
                    .step-block__item
                        +image('section-connection/step-1/plata.png','step-block__img')
                        h3.step-block__title Плата WiFi
                        .step-block__info 1.2 После D2 (красный) и D3 (зелёный) на плате<br> Wi-Fi начнут мигать попеременно. Для доступа<br> к плате снимите верхнюю крышку.
    .section-connect__container
        .step
            .step__container
                .step__number
                    span Шаг 2
                .step__info
                    p Подключение
            .step-block
                .step-block__container
                    .step-block__item
                        +image('section-connection/step-2/wifi-ui.png','step-block__img')
                        .step-block__info 2.1 Откройте на Вашем устройствесписок<br> доступных Wi-Fi сетей.Например, на<br> смартфоне. Выберите в доступных сетях<br> Wi-Fi-модуль. Его название соответствует<br> номеру указанному на плате (12 символов)
        .step
            .step-block
                .step-block__container.step-block__container--two
                    .step-block__item
                        +image('section-connection/step-2/12.png','step-block__img')
                        .step-block__info 2.2. Нажмите «Подключить» и вводите пароль<br> 12345678 (при первом подключение).
    .section-connect__container
        .step
            .step__container
                .step__number
                    span Шаг 3
                .step__info
                    p Соединение
            .step-block
                .step-block__container
                    .step-block__item
                        +image('section-connection/step-3/klapan-ui.png','step-block__img')
                        .step-block__info 3.1. Откройте на Вашем устройствеинтернет<br> браузер и в адресной строкевведите<br> «192.168.0.1». Откроется окно со списком<br> доступных беспроводных сетей Wi-Fi.<br> Выберите вашу домашнюю интернет Wi-Fi<br> сеть, введите от неё пароль и нажмите<br> кнопку «Connect».
        .step
            .step-block
                .step-block__container.step-block__container--two
                    .step-block__item
                        +image('section-connection/step-3/start-ui.png','step-block__img')
                        .step-block__info 3.2 На экране появится сообщение «Device<br> Started. Web server and access point stopped.<br> Valve Normal Operation Started» и плата Wi-Fi<br> начнет соединяться с вашим роутером.
    .section-connect__container.section-connect__container--center
        .step
            .step__container
                .step__number
                    span Шаг 4
                .step__info
                    p Экран дисплея клапана Clack EW
            .step-block
                .step-block__container
                    .step-block__item
                        +image('section-connection/step-4/wi-fi.png','step-block__img')
                        .step-block__info 4.1. При соединении с вашей сетью Wi-Fi
        .step
            .step-block
                .step-block__container.step-block__container--two.step-block__container--top
                    .step-block__item
                        +image('section-connection/step-4/no-connect.png','step-block__img')
                        .step-block__info.step-block__info--top 4.2. Если нет соединения






