section.section-capabilities
    h2.section-capabilities__title.title Возможности в clackonline.ru
    h3.section-capabilities__subtitle.delimiter Пользователь

    .section-capabilities__list
        h4.section-capabilities__name Получает данные от клапана:
        h4.section-capabilities__info • Информация о системе
        p.section-capabilities__text (тип системы; полный ресурс, ресурс до промывки; число дней до промывки)

    .section-capabilities__list
        h4.section-capabilities__info • Информация о работе системы
        p.section-capabilities__text (текущий расход воды; максимальный расход воды; число промывок; расход реагента; необходимость проведения сервиса)

    .section-capabilities__list
        h4.section-capabilities__info • Информация о промывке
        p.section-capabilities__text (текущая стадия, время до окончания текущей стадии, время до окончания промывки)

    .section-capabilities__list
        h4.section-capabilities__info • Информация об ошибках

    .section-capabilities__list
        h4.section-capabilities__info • Предупреждения
        p.section-capabilities__text (клапан оффлайн; не было промывки; добавление реагента)

    .section-capabilities__list
        h4.section-capabilities__info • Обратная связь:
        p.section-capabilities__text • Текущее время, день недели 
        p.section-capabilities__text • Настройки монтажника (исходная жесткость; число дней между промывками; время начала промывки)  
        p.section-capabilities__text • Удаленное начало промывки 
        p.section-capabilities__text • Удаленная перезагрузка клапанаПолучает весь объём информации, доступный пользователю 
        p.section-capabilities__text + дополнительно:
        p.section-capabilities__text • Архив и Диагностика
        p.section-capabilities__text • Обратная связь:
        p.section-capabilities__text • Конфигурация клапана
        p.section-capabilities__text • Настройки системы
        p.section-capabilities__text • Удаленная блокировка/разблокировка к настройкам
        p.section-capabilities__text • Удаленный сброс до заводских настроек

    h3.section-capabilities__subtitle.delimiter Сервисный инженер

    .section-capabilities__list
        h4.section-capabilities__info Получает данные от клапана:

    .section-capabilities__list
        h4.section-capabilities__info Получает весь объём информации, доступный пользователю + дополнительно:

    .section-capabilities__list
        h4.section-capabilities__info • Архив и Диагностика

    .section-capabilities__list
        h4.section-capabilities__info • Обратная связь:
        p.section-capabilities__text • Конфигурация клапана 
        p.section-capabilities__text • Настройки системы 
        p.section-capabilities__text • Удаленная блокировка/разблокировка к настройкам 
        p.section-capabilities__text • Удаленный сброс до заводских настроек
    
    .section-connect__container
        .step
            .step__container
                .step__number
                    span Шаг 1
                .step__info
                    p Авторизация
            .step-block
                .step-block__container
                    .step-block__item
                        +image('section-capabilities/step-1/clack-ui.png','step-block__img')
                        h3.step-block__title Клапан WW EW
                        .step-block__info 
                            p 1.1 Откройте браузер и введите в адресную<br> строку: clackonline.ru
                            p 1.2 Авторизуйтесьили зарегистрируйтесь:<br> введите свой логин и пароль

        .step
            .step__container
            .step-block
                .step-block__container--two
                    .step-block__item
                        +image('section-capabilities/step-1/web-ui.png','step-block__img')
                        h3.step-block__title Клапан WW EW
                        .step-block__info 1.3 Откроется страница личного кабинета на портале:

    .section-connect__container
        .step
            .step__container
                .step__number
                    span Шаг 2
                .step__info
                    p Личный кабинет
            .step-block
                .step-block__container
                    .step-block__item
                        +image('section-capabilities/step-2/warning.png','step-block__img')
                        .step-block__info 2.1 Предупреждение.<br> В верхней части страницы будет находиться раздел информации о состоянии ваших устройств (онлайн/оффлайн))
    .section-connect__container
        .step
            .step-block
                .step-block__container
                    .step-block__item
                        +image('section-capabilities/step-2/clear-water.png','step-block__img')
                        .step-block__info 2.2 С помощью раздела “Система очистки воды” можно быстро переходить между вашими изделиями (системами) с платами Wi-fi, если у Вас установленно несколько систем для разных задач. Каждая система может состоять из нескольких фильтров и их можно посмотреть в разделе «Состав изделия»
    .section-connect__container
        .step
            .step-block
                .step-block__container
                    .step-block__item
                        +image('section-capabilities/step-2/ecomaster-logo.png','step-block__img')
                        .step-block__info 2.3  Состав изделия. В разделе “Состав изделия“ выводятся фильтры/клапаны, входящие в выбранную вами систему фильтрации
    .section-connect__container
        .step
            .step-block
                .step-block__container
                    .step-block__item
                        +image('section-capabilities/step-2/custom.png','step-block__img')
                        .step-block__info 2.4  Выбрав конкретный фильтр, вы можете узнать исчерпывающую информацию о нем, во вкладках: «Информация», «Статистика», «Промывка» и «Настройка».
                            
    







    